
.c {
    font-family: Roboto Slab;
}

.d {
    margin-left: 22.5%;
    margin-right: 3%;
    font-family: Roboto Slab;
    text-align: left;
}

.b {
    vertical-align: top;
}

.e {
    width: 360px;
    height: 900px;
    border: 0;
  }
.a{
    margin-right: 10%;
}
  