.colr{
    color: white;

}
.purp{
    color: blueviolet;
}
    body{
    background-image: url(Pics/ScrawnyCapitalGallinule-size_restricted.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }




    .button2 {
      display: inline-block;
      border-radius: 4px;
      background-color: #591AAD;
      border: none;
      color: #020007;
      text-align: center;
      font-size: 28px;
      padding: 20px;
      width: 150px;
      height: auto;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
      font-family: cursive;
    }
    
    .button2 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button2 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button2:hover span {
      padding-right: 25px;
    }
    
    .button2:hover span:after {
      opacity: 1;
      right: 0;
    }





.button2 {
  background-color: #591AAD; 
  color: rgb(255, 255, 255); 
  border: 2px solid;
}

.button2:hover {
  background-color: #0059ff;
  color:rgb(255, 255, 255);
}
